@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    border: 0;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
    background-color: #ECECEC;
    color: #070330;
}

header {
    background-color: rgb(55, 77, 132);
    display: flex;
    justify-content: space-evenly;
    height: 6%;
}

#headerIcon {
    margin: 0.2vh 0 0 9vw;

}

#logo {
    height: 4.5vh;
    margin: 0.9vh 0 0 -15.5vw;
}

/* barra de pesquisa */

#navlist {
    background-color: #0074D9;
    position: absolute;
    width: 100vw;
}

#navlist a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}

.search {
    display: inline-flex;
}

.navlist-right {
    float: right;
}

#navlist a:hover {
    background-color: #ddd;
    color: black;
}

.search button {
    margin-left: -1.5vw;
    background-color: #ffffff;
    color: #f2f2f2;
    float: right;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.search input[type=text] {
    width: 27vw;
    height: 3.5vh;
    border-radius: 25px;
    border: none;
}

.search {
    float: right;
    margin: 7px;
}

/* container 1 */
.cont1 {
    background-color: #ffffff;
    width: 63vw;
    display: flex;
    margin: 4vh auto 0 auto;
    border-radius: 20px;
}

#capa {
    background-image: url("/img/pfe/rolexCapa.jpg");
    height: 30vh;
    width: 63vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#ftPerfil {
    background-image: url("/img/pfe/rolex-logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 10vw;
    border-radius: 100% 100%;
    margin: -10vh 0 0 5vw;
    border: #070330 solid 2px;
}

.perfilLine1 {
    display: flex;
    justify-content: space-between;

}

#titleEmpresa {
    font-size: 24px;
    margin-top: 2vh;
}

#categoriaEmpresa {
    font-size: 12px;
    color: #070330A6;
    font-weight: 500;
}

#infoEmpresa {
    font-weight: bold;
    font-size: 16px;
}

.perfilLine2 {
    margin: 2vh 0 0 5vw;
}

#sede {
    font-size: 15px;
    font-weight: bold;
    margin-top: 1vh;
}

#estilo {
    color: #070330A6;
    font-size: 12px;
    font-weight: 500;
}



#categoriaLine1 {
    text-align: center;
    font-size: 15px;
    margin-top: 2vh;
    letter-spacing: 0.15em;
}

#divisoria {
    background-color: #070330;
    height: 1px;
    width: 40vw;
    margin: 1vh auto 0 auto;
}

.categorias {
    display: flex;
    margin: 1.5vh auto 5vh 11.5vw;

}

.categorias * {
    background-color: #D9D9D980;
    border-radius: 20px;
    width: max-content;
    min-width: 2vw;
    font-size: 13px;
    padding: 2px;
    font-weight: 400;
    color: #001860;
    text-align: center;
}

.categorias p {
    margin-right: 0.5vw;
}

/* CONTEUDO 2 */

#divisoria2 {
    background-color: white;
    margin: 10vh auto 0 auto;
    width: 44vw;
    height: 1px;
    border: white solid 1px;
}

.descricaoContainer2 {
    margin: 3vh auto 0 auto;
    text-align: center;
    width: 46vw;
    font-weight: 500;
}

#descricaoTitle {
    margin-bottom: 2vh;
    font-size: 15px;
    letter-spacing: 0.15em;
}

#DescricaoDescricao {
    font-size: 14px;

}

/* CONTAINER 3 */

.container3 {
    margin-top: 6vh;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-left: 14vw;
}

#img1 {
    background-image: url(/img/pfe/rolex1.jpg);
    height: 60vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;

}


#titleCont3 {
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 14px;
    margin: 4vh 0 2vh 0;
}

#linha1 {
    background-color: #070330;
    height: 1px;
    max-width: 25vw;
    margin: 0 auto 0 auto;
}

#descricaoCont3 {
    width: 26vw;
    text-align: center;
    margin: 4vh auto 4vh auto;
    font-size: 14px;
}

.container3cont {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2vh;
}

#img2 {
    background-image: url(/img/pfe/rolex2.jpg);
    height: 60vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
    margin-left: 0;

}

.cont3Botao {
    display: contents;
    justify-content: end;
}

#botaoMais {
    border: #969696 2px solid;
    border-radius: 15px;
    width: 5vw;
    height: 4vh;
    font-size: 20px;
    text-align: center;
    background-color: white;
    margin: 0 2vw 3vh 0;
}

.cont3ButtonAlign {
    display: flex;
    justify-content: end;
}

#imgPerfilCont3 {
    background-image: url(/img/pfe/rolex-logo.jpg);
    height: 10vh;
    width: 5.5vw;
    background-size: 12vw 14vh;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    margin: 2vh 0 0 1vw;
    position: absolute;
    border: #070330 solid 1px;
}

/* CONTEUDO 4 */

#nossos_produtos {
    text-align: center;
    letter-spacing: 0.15em;
    font-size: 15px;
    margin: 3vh auto 2vh auto;
}

#divisoria3 {
    background-color: white;
    margin: 10vh auto 0 auto;
    width: 44vw;
    height: 1px;
    border: white solid 1px;
}

.container4 {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    margin: 4vh auto 0 auto;
}

#imgProduto1 {
    background-image: url(/img/pfe/ftProduto2.jpg);
    height: 40vh;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#imgProduto2 {
    background-image: url(/img/pfe/ftProduto3.jpg);
    height: 40vh;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#imgProduto3 {
    background-image: url(/img/pfe/ftProduto1.jpg);
    height: 40vh;
    width: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0px 0px;
}

#linhaCont4 {
    background-color: #162431;
    height: 1px;
    width: 30vw;

}

.cont4CategoriasAlinhamento {
    margin: -5vh auto -0.5vh 5vw;

}

.categoriasCont4 {
    display: flex;
    margin: 1.5vh auto 5vh 0;
}

.categoriasCont4 * {
    background-color: #D9D9D980;
    border-radius: 20px;
    width: max-content;
    min-width: 2vw;
    height: 2vh;
    font-size: 13px;
    padding: 2px;
    font-weight: 400;
    color: #001860;
    text-align: center;
}

.categoriasCont4 p {
    margin-right: 0.5vw;
}

.descricaoCont4 {
    width: 38vw;
    font-size: 13px;
    text-align: center;
    padding: 16vh 40px 16vh 40px;
}

.descricaoCont4 * {
    margin-bottom: 2vh;
}

.descricaoCont4 h1 {
    font-size: 16px;
    letter-spacing: 0.15em;
}

#titleCont4 {
    font-size: 22px;
    font-weight: bold;
    height: 1vh;
}

#Cont4Preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: -3vh;
}

.container4TitleButton {
    display: flex;
    justify-content: space-between;
}

.container4cont2 {
    margin-left: 3vw;
}

.cont4ButtonAlign {
    margin: 0 0 0 5vw;
    width: min-content;
}

#fabricacaoCont4 {
    font-weight: 500;
    font-size: 18px;
}

#materiaisCont4 {
    font-weight: 500;
    font-size: 14px;
}

.fabriMateriais * {
    margin-bottom: 0.8vh;
}

.fabriMateriais {
    margin-bottom: 3vh;
}

/*container5*/
.container5Cont1 {
    display: flex;
    justify-content: space-evenly;
    margin: 8vh auto 0 auto;
}

#reparos {
    background-image: url(/img/pfe/clocks-service-repair.jpg);
    height: 30vh;
    width: 15vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    margin-left: -1vw;
    margin-right: -15vw;
}

#descricaoCont5 {
    max-width: 44vw;
}

#title1Cont5 {
    margin-top: 8vh;
}

#reparos2 {
    background-image: url(/img/pfe/clocks-service-repair.jpg);
    height: 30vh;
    width: 15vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    margin-left: -13vw;
    margin-right: 3vw;
}

#descricao2Cont5 {
    max-width: 44vw;
    text-align: end;
}

#title2Cont5 {
    margin-top: 8vh;
    text-align: end;
}

/*CONTAINER 6*/
.cont6 {
    background-color: white;
    height: 30vh;
    width: 65vw;
    margin: 8vh auto 1vh auto;
    text-align: center;
    border-radius: 20px;
}

.cont6 h1 {
    font-size: 16px;
    letter-spacing: 0.15em;
    padding: 25px 0 0 0;
}
#linha6 {
    width: 30vw;
    background-color: #001860;
    height: 1px;
    margin: 2vh auto;
}
.redesSociaisIcones {
    margin-top: 6vh;
    display: flex;
    justify-content: space-evenly;
}
