@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    border: 0;
    text-decoration: none;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: inherit;
}

header {
    background-color: rgb(55, 77, 132);
    display: flex;
    justify-content: space-evenly;
    height: 6vh;
}
.rightHeader {
    display: flex;
    margin-top: 0.6vh;
}
#headerIcon {
    margin: 0.3vh 1vw 0 30vw;
}
header div input {
    width: 113px;
    height: 35px;
    background: #2F90EF;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

#logo {
    height: 4.5vh;
    margin: 0.9vh 0 0 -16vw;
}

/*  CONTAINER 1 */

.container1 {
    background-image: url("/img/ld/suit.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 70vh;
}

#estilo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
    margin-left: -16.5%;
}

.container1 input {
    width: 174px;
    height: 44px;
    background: linear-gradient(90deg, #0D0A19 18.39%, #1E3875 50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 30px;
    color: white;
}

.container1 h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.container1 p {
    font-size: 30px;
    width: 628px;
    font-style: normal;
    margin-bottom: 1.5vh;
}

/*  CONTAINER 2 */

.container2 {
    display: flex;
    position: relative;
    margin: 8vh 7vw 2vh 7vw;
}

.container2 input {
    width: 260px;
    height: 45px;
    background: #374D84;
    border-radius: 5px;
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin: 11vh 0 6vh 0;
}

.esq {
    font-weight: bold;
    font-size: 30px;
}

.dir {
    font-weight: 300;
    width: 50vw;
    font-size: 24px;
}

.dir p {
    margin-bottom: 3vh;
}

/*  CONTAINER 3 */

.container3 {
    background-color: #0D0B1A;
    color: white;
}
.container3 h6 {
    text-align: center;
    font-size: 34px;
    padding: 40px;
}
.imagemPerfil {
    height: 30vh;
    width: 15vw;
    border-radius: 120px;
    object-fit: cover;
    object-position: center;
}

.feedback {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw 0 7vw;
    text-align: center;
}

.depoimento {
    margin-top: 10vh;
    width: 60vw;
    font-size: 20px;
}
.container3 input {
    background: #374D84;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4vh;
}
.nome {
    font-size: 28px;
    font-weight: 500;
    padding: 12px 0 10px 0;
}

/* container4 */

.container4 {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw 0 7vw;
    
}

.titleCont4 {
    text-align: center;
    color: #374D84;
    margin-top: 6vh;
    font-size: 32px;
}

.topicoCont4 {
    font-size: 28px;
    font-weight: 500;
    color: #374D84;
    margin-bottom: 3vh;
}
div#divisoria {
    background-color: rgb(55, 77, 132);
    width: 20px;
    height: 40vh;
    margin: 15vh 3vw 0 3vw;
    border-radius: 35px;
}

.rightTitle {
    text-align: end;
    color: #374D84;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 3vh;

}
.descricaoDir{
    text-align: end;
}

.blocos {
    display: flex;
    justify-content: left;
    margin-top: 13vh;
}

/*icons*/
.iconsDiv {
    margin-top: -4.5vh;
    padding: 20px;
}

footer {
    margin-top: 10vh;
    height: 50vh;
    background-color: #0D0A19;
}
