@media only screen and (max-width: 628px) {
    main > section {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 700px;
    }

    main > section > div {
        margin: auto;
        height: 325px;
    }

    main > section > div .imagemEmpresa {
        height: 185px;
    }
    
    main > section > div .imagemInvestidor {
        height: 185px;
    }
}

@media only screen and (min-width: 628px) and (max-width: 768px) {
    main > section {
        max-width: 625px;
    }
}
